@import '../../utils/styles/variables';
@import '../../utils/styles/mixins';


.projects-sidebar {
    @include calc(min-height, 100vh - #{$appBar-height});
    border-right: 1px solid #dddddd;
    .nav-link {
        font-weight: 500;
        color: #333;
        margin-left: 1rem;
    }
    a:hover {
        color: red !important;
    }
}

.errorText {
    color: red;
    font-size: 10px;
}

