@import './utils/styles/variables';
@import './utils/styles/mixins';

html, body {
    min-height: 100vh !important;
}

body {
    padding-top: $appBar-height;
}

.appBar {
    height: $appBar-height;
}

.appWrapper {
    @include calc(min-height, #{$appBar-height});
}

