$appBar-height: 55px;

html, body {
    min-height: 100vh !important;
}

body {
    padding-top: $appBar-height;
}

.appBar {
    height: $appBar-height;
}

.appWrapper {
    min-height: calc(100vh - $appBar-height);
}

